<form action="/square/results">
  <div>
    <label for="user_number"> Enter a number </label>
  </div>
  <div>
    <input type="text" id="user_number" name="number" placeholder="What number do you want">
  </div>

  <button>
  Calculate square
  </button>
</form>