    <!-- Google Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          // ['Threshold', 'Cumulative % w/ Autism'],
          ['Cum % with Autism', 'ACoR Risk Score'],
          [0, 0.00012],
          [0.00346, 0.00036],
          [0.00757, 0.00065],
          [0.01186, 0.00095],
          [0.01597, 0.00133],
          [0.02009, 0.00188],
          [0.02421, 0.00236],
          [0.02832, 0.00281],
          [0.03244, 0.00332],
          [0.03656, 0.00392],
          [0.04067, 0.00429],
          [0.04479, 0.00483],
          [0.0489, 0.00532],
          [0.05302, 0.00593],
          [0.05714, 0.00649],
          [0.06125, 0.00707],
          [0.06537, 0.00757],
          [0.06949, 0.00791],
          [0.0736, 0.00851],
          [0.07772, 0.00883],
          [0.08184, 0.0095],
          [0.08595, 0.00992],
          [0.09007, 0.01034],
          [0.09419, 0.01075],
          [0.09847, 0.01114],
          [0.10259, 0.01156],
          [0.1067, 0.01195],
          [0.11082, 0.01231],
          [0.1151, 0.01266],
          [0.11922, 0.01306],
          [0.1235, 0.01362],
          [0.12761, 0.01411],
          [0.13173, 0.01462],
          [0.13585, 0.01504],
          [0.13996, 0.01544],
          [0.14408, 0.01581],
          [0.1482, 0.01613],
          [0.15231, 0.01658],
          [0.15643, 0.01692],
          [0.16055, 0.01736],
          [0.16466, 0.01776],
          [0.16878, 0.01823],
          [0.1729, 0.01878],
          [0.17701, 0.01932],
          [0.18129, 0.01975],
          [0.18541, 0.02009],
          [0.18953, 0.02075],
          [0.19381, 0.02119],
          [0.19793, 0.02167],
          [0.20204, 0.0222],
          [0.20616, 0.0227],
          [0.21027, 0.02331],
          [0.21439, 0.02382],
          [0.21851, 0.02433],
          [0.22262, 0.02486],
          [0.22674, 0.02542],
          [0.23086, 0.02602],
          [0.23497, 0.02668],
          [0.23909, 0.02728],
          [0.24321, 0.02803],
          [0.24732, 0.0285],
          [0.25144, 0.02891],
          [0.25556, 0.02946],
          [0.25967, 0.03016],
          [0.26396, 0.03094],
          [0.26807, 0.03164],
          [0.27219, 0.03229],
          [0.2763, 0.03281],
          [0.28042, 0.03344],
          [0.28454, 0.03404],
          [0.28882, 0.03489],
          [0.29294, 0.0355],
          [0.29705, 0.03657],
          [0.30117, 0.03717],
          [0.30529, 0.03805],
          [0.30957, 0.03907],
          [0.31368, 0.04014],
          [0.3178, 0.04128],
          [0.32192, 0.04274],
          [0.32603, 0.04369],
          [0.33015, 0.04419],
          [0.33427, 0.04524],
          [0.33838, 0.04615],
          [0.3425, 0.04702],
          [0.34678, 0.0481],
          [0.3509, 0.04907],
          [0.35518, 0.05016],
          [0.35946, 0.05124],
          [0.36358, 0.05269],
          [0.36769, 0.05396],
          [0.37181, 0.0556],
          [0.37593, 0.05734],
          [0.38004, 0.05873],
          [0.38416, 0.05998],
          [0.38844, 0.06113],
          [0.39256, 0.06227],
          [0.39667, 0.06361],
          [0.40079, 0.06495],
          [0.40507, 0.06633],
          [0.40919, 0.06838],
          [0.41347, 0.06989],
          [0.41759, 0.07223],
          [0.4217, 0.07365],
          [0.42582, 0.0756],
          [0.42994, 0.07799],
          [0.43405, 0.08048],
          [0.43833, 0.08218],
          [0.44245, 0.0853],
          [0.44657, 0.08716],
          [0.45068, 0.08906],
          [0.4548, 0.09181],
          [0.45892, 0.09479],
          [0.4632, 0.09746],
          [0.46748, 0.09957],
          [0.4716, 0.10249],
          [0.47588, 0.10622],
          [0.48032, 0.10905],
          [0.48477, 0.11231],
          [0.48905, 0.11528],
          [0.49317, 0.11847],
          [0.49728, 0.12212],
          [0.50156, 0.12546],
          [0.50568, 0.12918],
          [0.5098, 0.13183],
          [0.51391, 0.13533],
          [0.51803, 0.14085],
          [0.52215, 0.14551],
          [0.52643, 0.1499],
          [0.53055, 0.15288],
          [0.53466, 0.15735],
          [0.53878, 0.16151],
          [0.54306, 0.1682],
          [0.54718, 0.17283],
          [0.55129, 0.17754],
          [0.55557, 0.18093],
          [0.55969, 0.18654],
          [0.56397, 0.19067],
          [0.56809, 0.19516],
          [0.57237, 0.20068],
          [0.57665, 0.20449],
          [0.58077, 0.2095],
          [0.58488, 0.2147],
          [0.58933, 0.22094],
          [0.59361, 0.22581],
          [0.59806, 0.23135],
          [0.60217, 0.23658],
          [0.60662, 0.24382],
          [0.61123, 0.25023],
          [0.61568, 0.25651],
          [0.61996, 0.2635],
          [0.62407, 0.26663],
          [0.62836, 0.27159],
          [0.63264, 0.27818],
          [0.63725, 0.28398],
          [0.64136, 0.28864],
          [0.64597, 0.29658],
          [0.65042, 0.3023],
          [0.65487, 0.30797],
          [0.65948, 0.31428],
          [0.66359, 0.3216],
          [0.66837, 0.32615],
          [0.67281, 0.33041],
          [0.67775, 0.33962],
          [0.68204, 0.34663],
          [0.68615, 0.35326],
          [0.69043, 0.35868],
          [0.69488, 0.36279],
          [0.69965, 0.36925],
          [0.7041, 0.37735],
          [0.70838, 0.38168],
          [0.71316, 0.38891],
          [0.71744, 0.3943],
          [0.72172, 0.40195],
          [0.72649, 0.40779],
          [0.73127, 0.41391],
          [0.73555, 0.41902],
          [0.74016, 0.42684],
          [0.74494, 0.4338],
          [0.74905, 0.4419],
          [0.75383, 0.44923],
          [0.75811, 0.45715],
          [0.76256, 0.46541],
          [0.76684, 0.47082],
          [0.77161, 0.47739],
          [0.77622, 0.48491],
          [0.7805, 0.49397],
          [0.78479, 0.50013],
          [0.78907, 0.50674],
          [0.79368, 0.51293],
          [0.79829, 0.51829],
          [0.80273, 0.52693],
          [0.80701, 0.53413],
          [0.81163, 0.54208],
          [0.81574, 0.54804],
          [0.82085, 0.55498],
          [0.82562, 0.56239],
          [0.83007, 0.57066],
          [0.83435, 0.58044],
          [0.83896, 0.59031],
          [0.84357, 0.59714],
          [0.84835, 0.60496],
          [0.85329, 0.61163],
          [0.8579, 0.6175],
          [0.86316, 0.62344],
          [0.8686, 0.6315],
          [0.8737, 0.64129],
          [0.87848, 0.64929],
          [0.88292, 0.65676],
          [0.88852, 0.66538],
          [0.89346, 0.67394],
          [0.8984, 0.68412],
          [0.90285, 0.69513],
          [0.90729, 0.70488],
          [0.91174, 0.7144],
          [0.91619, 0.72384],
          [0.9208, 0.7346],
          [0.92524, 0.74466],
          [0.93035, 0.75334],
          [0.93562, 0.76562],
          [0.94056, 0.77854],
          [0.9455, 0.78904],
          [0.9506, 0.80095],
          [0.95521, 0.81043],
          [0.96065, 0.82575],
          [0.96575, 0.83916],
          [0.97118, 0.85556],
          [0.97744, 0.87482],
          [0.98255, 0.89554],
          [0.98814, 0.91211],
          [0.99341, 0.93502],
          [0.99984, 0.99185]
        ]);

        var options = {
          title: 'ACoR Score by Percentile of Children with Autism (STATIC - M 150W)',
          hAxis: {title: 'Percentile of Children with Autism',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


  <style type="text/css">
  .chartWithMarkerOverlay {
    position: relative;
    width: 700px;
}
	.overlay-bar{
		position: absolute;

    left:70%;
    top:46.5%;
    width: .25%;
    height: 34.5%;
    opacity: 1; 
    filter: alpha(opacity=100);
	}
  .overlay-text {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;   /* chartArea top  */
    left: 475px; /* chartArea left */
}
  </style>



    

<h1>Autism Risk Assessment</h1>

<p> Child Name ........ DoB .........</p>
<br>
<p>Your child has a higher risk for Autism than XX% of children with Autism Spectrum Disorder.<p>
<br>
<p>Chart showing relative risk: (Needs to select correct thresholds for gender and age)</p>

<div class="chartWithMarkerOverlay">
  <div id="chart_div" style="width: 100%; height: 500px;"></div>

  <div class="overlay">
							<div class="overlay-bar bg-danger" ></div>
              <div class="overlay-text">
                 <div style="font-family:'Arial Black'; color: #d9534f; font-size: 20px;">82%</div>
              </div>
  </div>
</div>